/* Start About Us Section
======================================================*/
.about_section {
  position: relative;
  .main_title {
    margin-bottom: 0px;
    p {
      margin-bottom: 20px;
    }
  }
  .primary_btn {
    margin-top: 20px;
  }
  .about_image {
    position: relative;
    right: 250px;
    @media (max-width: 1480px) {
      right: 0px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

/* End About Us Section
======================================================*/

/* Start Brand Section
======================================================*/
.single-brand-item {
  width: 170px;
  height: 100px;
  cursor: pointer;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  box-shadow: none;
  @include transition();
  @media only screen and (max-width: 767px) {
    height: 100px;
    width: 140px;
  }
  @media (max-width: 575px) {
    margin: 0px auto;
    margin-bottom: 30px;
  }
  .d-table-cell {
    vertical-align: middle;
  }
  img {
    max-width: 80px;
    margin: 0 auto;
    @include transition();
    @media only screen and (max-width: 767px) {
      max-width: 100px;
    }
  }
  &:hover {
    border: 1px solid transparent;
    box-shadow: 0px 8px 30px rgba(118, 85, 225, 0.15);
    img {
      @include filter(brightness(0%));
    }
  }
}
.client_info {
  padding: 25px 30px;
  background: #faf8ff;
  text-align: center;
  position: relative;
  margin-top: 25px;

  &::before {
    content: '';
    position: absolute;
    top: -25px;
    left: -50px;
    background: url(../img/client-info-bg.png) no-repeat;
    height: 175px;
    width: 175px;
  }

  .large {
    color: $primary-color;
    font-family: "Rubik", sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 85px;
    position: relative;
    z-index: 9;
  }

  .small {
    text-align: left;
    color: #000000;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    margin-left: 20px;
  }
}

.call-now {
  padding-top: 50px;
  text-align: left;
  margin-bottom: 40px;

  p{
    color:$primary-color;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  span {
    font-size: 60px;
    font-weight: 700;
    color: #000000;
  }
}
/* End Brand Section
======================================================*/

/* Start Feature Service Section
======================================================*/
.service_section {
  padding-bottom: 170px;
}

.feature_item {
  padding: 45px 25px;
  text-align: center;
  background: #f8f9fa;
  cursor: pointer;
  margin-bottom: 30px;
  @include transition();

  
  img {
    margin-bottom: 35px;
    max-width: 200px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 0px;
  }

  &:hover {
    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
    background: #f8f9fa;
  }
}
/* End Feature Service Section
======================================================*/

/* Start Forotfolio Section
======================================================*/
.portofolio_section {
  padding-bottom: 120px;
  
  .filters {
    ul {
      padding-left: 0px;
      margin-bottom: 50px;

      li {
        display: inline-block;
        margin-right: 50px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #222222;
        cursor: pointer;
        @include transition();

        &:hover, &.active {
          color: #8e5c0b;
        }
      }
    }
  }
}

.portofolio_box {
  margin-bottom: 80px;

  .short_info {
    margin-top: 30px;
    text-align: center;

    h4 {
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 0px;

      a {
        color: #000000;

        &:hover {
          color: #8e5c0b;
        }
      }
    }
  }
}

.single_portofolio {
  position: relative;
  .overlay {
    @include transition();
  }
  .icon {
    position: absolute;
    top: 25%;
    left: 25%;
    @include transform(translate(-50%, -50%));
    opacity: 0;
    visibility: hidden;
    @include transition();
    span {
      font-size: 100px;
      display: inline-block;
      @include transform(rotate(135deg));
      color: #ffffff;
      cursor: pointer;
    }
  }
  &:hover {
    .overlay {
      background: rgba(191, 128, 25, 0.5);
    }
    .icon {
      opacity: 1;
      visibility: visible;
      top: 50%;
      left: 50%;
    }
  }
}

/* End Portofolio Section
======================================================*/

/** Start Testimonial Section 
======================================================*/

.testimonial_section {
  .owl-carousel {
    .owl-dots{
      display: block !important;
      text-align: center;
      margin-top: 15px;
      .owl-dot {
        height: 10px;
        width: 10px;
        background: #d8d8d8;
        display: inline-block;
        border-radius: 17px;
        margin-right: 10px;
        @include transition();
        &.active {
          height: 12px;
          width: 12px;
          background: #8e5c0b;
        }

      }
    }
  }
}

/** End Testimonial Section 
======================================================*/




/** Start Subscription Section 
======================================================*/
.newslatter_section {
  color: #ffffff;
}
.subscription_box {
  background: url(../img/subscribe-bg.png);
  padding: 150px 0px;

  .subscribe-form {
    margin-top: 45px;
  }

  .subscription {
    .primary-btn {
      margin-left: 10px;
      background: white;
      text-transform: uppercase;
      color: black;
      border-radius: 5px;
      min-width: 150px;
      line-height: 48px;
      font-size: 14px;
      font-family: "Rubik", sans-serif;
      padding: 0px 38px;
      cursor: pointer;
    }
    
    input {
      min-width: 380px;
      max-height: 380px;
      border-radius: 5px;
      background: transparent;
      border: 1px solid #ffffff;
      font-weight: 400;
      color: white;
      padding: 0px 25px;
      line-height: 48px;

      @media screen and (max-width: 767px){
        min-width: 80%;
      }
    }
  }

  h2 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 0px;
  }
}

/** End Subscription Section 
======================================================*/

/** Start Footer Section 
======================================================*/
.footer_section {
  .container {
    .row{
      .footer{
        &_top {

          h3 {
            text-transform: uppercase;
            text-align: center;
            font-size: 20px;
            margin-top: 30px;
          }
          
          .footer__logo a {
            background-image: linear-gradient(to right,#d6e45e 10%, #eda942 100%), radial-gradient(circle at top left,#d6e45e 10%, #eda942 100%);
            padding: 10px 30px;
            color: white;
            line-height: 45px;
            font-size: 32px;
            font-weight: 600;
            border-radius: 8px;
          }

          .footer_socmed {
            margin: 10px 0 20px 0;
            text-align: center;
            a {
              color: black;
              font-size: 18px;
              padding: 0px 10px 0px 10px;

              &:hover {
                color:  #8e5c0b;
              }
            }
          }
        }
        &_copyright {
          text-align: center;
          color: rgba(0, 0, 0, 0.5);

        }
      }
    }
  }
}
